<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1213">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss,fff} [%t] %-5p %c{1} - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>


  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net" xmlns:nms="http://www.springframework.net/nms">

      <description>Spring.NET ActiveMQ NMS 프로그램 예</description>

      <object id="ActiveMqConnectionFactory" type="Apache.NMS.ActiveMQ.ConnectionFactory, Apache.NMS.ActiveMQ">
        <constructor-arg name="brokerUri" value="tcp://192.168.28.131:61616" />
        <property name="UserName" value="admin" />
        <property name="Password" value="admin" />
      </object>

      <!-- 2014-12-10 14:04:21,438 [1] INFO  NmsTrace - 
     Connection[ID:JHCHA-PC-11126-635538170612994214-1:0]: Closing Connection Now.
      2014-12-10 14:04:21,455 [1] WARN  ConsumerApp - 
      Error creating context 'spring.root': 'Spring.Messaging.Nms, Version=1.3.2.40943, Culture=neutral, PublicKeyToken=65e474d141e25e07' 
      어셈블리에서 'Spring.Messaging.Nms.Connections.CloseSupressingConnection' 형식의 'PurgeTempDestinations' 메서드에 구현이없습니다.-->
      <object id="ConnectionFactory" type="Com.Brm.Messaging.Nms.Connections.CachingConnectionFactory">
        <property name="SessionCacheSize" value="2" />
        <property name="TargetConnectionFactory" ref="ActiveMqConnectionFactory" />
        <property name="ReconnectOnException" value="true" />
      </object>

      <!-- 메시지 변환기 설정-->
      <object id="SimpleMessageConverter" type="Spring.Messaging.Nms.Support.Converter.SimpleMessageConverter, Spring.Messaging.Nms" />

      <!-- NMS 메시지 발신자 설정-->
      <object id="MessageProducer" type="Com.Brm.Messaging.MessageProducer">
        <property name="NmsTemplate" ref="NmsTemplate" />
        <property name="DelayTime">
          <object id="DelayTime" type="System.TimeSpan">
            <constructor-arg name="days" value="0" />
            <constructor-arg name="hours" value="0" />
            <constructor-arg name="minutes" value="0" />
            <constructor-arg name="seconds" value="1" />
            <constructor-arg name="milliseconds" value="0" />
          </object>
        </property>
      </object>

      <object id="NmsTemplate" type="Spring.Messaging.Nms.Core.NmsTemplate, Spring.Messaging.Nms">
        <property name="ConnectionFactory" ref="ConnectionFactory" />
        <property name="DefaultDestinationName" value="foo" />
        <property name="MessageConverter" ref="SimpleMessageConverter" />
      </object>

      <!-- NMS 메시지 수신자 설정-->
      <object id="MessageConsumer" type="Com.Brm.Messaging.MessageConsumer" />

      <object id="MessageListenerAdapter" type="Spring.Messaging.Nms.Listener.Adapter.MessageListenerAdapter, Spring.Messaging.Nms">
        <property name="HandlerObject" ref="MessageConsumer" />
        <property name="DefaultHandlerMethod" value="ReceiveMessage" />
        <property name="MessageConverter" ref="SimpleMessageConverter" />
      </object>

      <object id="MessageListenerContainer" type="Spring.Messaging.Nms.Listener.SimpleMessageListenerContainer, Spring.Messaging.Nms">
        <property name="ConnectionFactory" ref="ConnectionFactory" />
        <property name="DestinationName" value="foo" />
        <property name="ConcurrentConsumers" value="1" />
        <property name="MessageListener" ref="MessageListenerAdapter" />
        <property name="AutoStartup" value="false" />
        <property name="RecoveryInterval">
          <object id="RecoveryInterval" type="System.TimeSpan">
            <constructor-arg name="days" value="0" />
            <constructor-arg name="hours" value="0" />
            <constructor-arg name="minutes" value="0" />
            <constructor-arg name="seconds" value="1" />
          </object>
        </property>
      </object>

    </objects>
  </spring>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-1.6.0.3083" newVersion="1.6.0.3083" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>
